#myheaderid{
    background-color: rgb(109, 109, 230);
    width: 80%;
    padding:0 0 0 1px;
    text-align: center;
    margin: 0px auto;
}
#mycontainerid{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10px;
}
.mybox{
    padding: 15px;
    background-color: rgb(201, 201, 30);
    width: 48%;
    height: 550px;

}
