.eachlesson{
    background-color: rgb(146, 227, 59);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;

}
.eachlesson:hover{
    background-color: rgb(16, 236, 31);
    scale: 1.02;
    transition: 0.5s;
}   
span{
    background-color: gray;
    padding: 5px;
    border-radius: 4px;
}