button{
    padding: 10px;
    cursor: pointer;
    background-color: rgb(37, 210, 83);
    border-radius: 10px;
    font: 1em sans-serif;
    font-size: 24px;
}
button:hover{
    background-color: rgb(99, 97, 210);
    transition: 0.3s all ease-in-out;
}
